/* Fabricio Ceppi portfolio main stylesheet */
/* Mobile first */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");

@font-face {
    font-family: 'NeueHaasGrotesk';
    src: url('fonts/NHaasGroteskTXPro-55Rg.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasGrotesk';
    src: url('fonts/NHaasGroteskTXPro-65Md.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NeueHaasGrotesk', Helvetica, sans-serif;
    font-weight: 600;
    color: #f1f1f1;
    text-rendering: geometricPrecision;
  }

body {
  overflow: hidden;
}

.full-box {
    height: 100vh;
    width: 100vw;
    padding: 16px;
  }

/* font initial setup */

.small {
  font-size: 12px;
  line-height: 14px;
}

.medium {
  font-size: 16px;
  line-height: 20px;
}

.big {
  font-size: 32px;
  line-height: 32px;
}

.giant {
  font-size: 48px;
  line-height: 48px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
}

/* footer initial setup */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
    width: 100%;
}

footer ul:first-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* main content static block */

#main-components {
  background-color: rgb(6, 6, 6);
}

/* menu button and dynamic background*/

#menu-button {
    position: absolute;
    right: 16px;
    top: 16px;
    background-color: #f1f1f1;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.5s, transform 0.8s;
    transform-origin: center;
}




