/* Fabricio Ceppi portfolio main stylesheet */
/* Mobile first */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");

@font-face {
  font-family: "NeueHaasGrotesk";
  src: url("fonts/NHaasGroteskTXPro-65Md.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NeueHaasGrotesk", Helvetica, sans-serif;
  font-weight: 600;
  color: #f1f1f1;
  text-rendering: geometricPrecision;
}

body {
  background-color: rgb(6, 6, 6);
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* font initial setup */

.small {
  font-size: 12px;
  line-height: 14px;
}

.medium {
  font-size: 16px;
  line-height: 20px;
}

.big {
  font-size: 32px;
  line-height: 32px;
}

.giant {
  font-size: 40px;
  line-height: 40px;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
}

p.medium {
  padding-bottom: 24px;
}

/* content box and main elements setup */

.content-box {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  padding: 16px;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
}

header, footer {
  width: 100%;
}

footer ul:first-child {
  padding-top: 26px;
  display: flex;
  justify-content: space-between;
}

#menu-button {
  position: absolute;
  top: 16px;
  right: 16px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #f1f1f1;
  cursor: pointer;
  transition: background-color 0.4s, transform 0.5s;
  transform-origin: center;
  z-index: 2;
}

#to-main {
  margin-block-start: 0;
  margin-block-end: 0;
  cursor: pointer;
}

#contact2 {
  cursor: pointer;
}

/* dynamic content main setup */

main {
  width: 100%;
}

.dynamic {
  display: none;
  transition: opacity 0.5s;
}

.dynamic.active {
  display: block;
}

section {
  padding-top: 112px;
}

.two-columns-details {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-top: 56px;
  padding-bottom: 144px;
  justify-content: space-between;
  text-transform: uppercase;
}

.two-columns-details > div,
.two-columns-details > ul {
  flex: 1 40%;
  padding-bottom: 32px;
}

.two-columns-details li {
  display: block;
}

.two-columns-details h3 {
  padding-bottom: 16px;
}

#resume {
  width: 100%;
}

section h1 {
  padding-bottom: 32px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  cursor: pointer;
}

/* Menu items setup */

.menu-item span {
  display: inline-block;
}

.menu-item span:nth-of-type(odd) {
  padding-right: 16px;
}

.menu-item span:nth-of-type(even) {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: #f1f1f1;
  transition: transform 0.3s;
}

@media (hover: hover) {
  .menu-item span:nth-of-type(even):hover {
    -webkit-text-fill-color: #f1f1f1;
    -webkit-text-stroke-color: transparent;
    transform: translateX(16px);
  }
}

/* Works list */

#work h1 {
   padding-bottom: 80px;
}

#work .menu-item {
  padding-bottom: 24px;
}

#work .two-columns-details {
  padding-top: 24px;
  padding-bottom: 48px;
}

.show-in-desktop {
  display: none;
}

.display-image {
  width: 100%;
  height: 0;
  padding-bottom: 56%;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  position: relative;
}

.display-image img {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

#copy {
  display: none;
}

/* contact form styling */

#contact-form {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  opacity: 0;
  transition: all 0.5s;
  padding: 16px;
  background-color: rgb(229, 41, 27);
}

form {
  position: relative;
  width: 100%;
  padding: 16px;
  max-width: 474px;
  background-color: rgb(229, 41, 27);
  border: 1px solid #f1f1f1;
  border-radius: 2px;
}

form > div:first-of-type {
  text-transform: uppercase;
  margin-bottom: 32px;
}

label, textarea,
input, button {
  display: block;
}

.input-pack {
  margin-bottom: 16px;
}

label, input {
  width: 100%;
}

label, button {
  text-transform: uppercase;
}

label {
  margin-bottom: 8px;
}

input, textarea, button {
  border: 1px solid #f1f1f1;
  background-color: rgb(229, 41, 27);
  border-radius: 2px;
  padding: 8px;
}

textarea {
  resize: none;
  width: 100%;
  margin-bottom: 16px;
  height: 200px
}

button {
  display: inline-block;
  float: left;
  cursor: pointer;
}

#status {
  display: inline-block;
  width: 100%;
  padding-top: 16px;
  text-transform: uppercase;
}

#close {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

/* text blocks animations */

.appear-to-left {
  opacity: 0;
  animation-name: appear-to-left;
  animation-duration: 0.4s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.appear-to-left:nth-child(2) {
  animation-delay: 0.6s;
}

.appear-to-left:nth-child(3) {
  animation-delay: 0.8s;
}

.appear-to-left:nth-child(4) {
  animation-delay: 1s;
}

.appear-to-left:nth-child(5) {
  animation-delay: 1.2s;
}

@keyframes appear-to-left {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* scale to desktop */

@media only screen and (min-width: 480px) {
  
  .big {
    font-size: 48px;
    line-height: 48px;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .giant {
    font-size: 72px;
    line-height: 72px;
  }

  p.medium {
    font-size: 20px;
    line-height: 24px;
    max-width: 400px;
  }

  .centered {
    max-width: 500px;
    margin: 0 auto;
  }

  .fix-left-grow {
    max-width: 450px;
  }

  .display-image {
    width: 448px;
    padding-bottom: 0;
    height: 250.88px;
  }

  .two-columns-details {
    max-width: 450px;
  }

  #status {
    float: left;
    padding-left: 16px;
    padding-top: 0;
    width: auto;
  }

  .input-pack {
    width: 50%;
    float: left;
  }

  .input-pack:first-of-type {
    padding-right: 8px;
  }
  
  .input-pack:last-of-type {
    padding-left: 8px;
  }

}

@media only screen and (min-width: 800px) {
  
  .big {
    font-size: 64px;
    line-height: 64px;
    max-width: 680px;
  }
  
  .giant {
    font-size: 92px;
    line-height: 92px;
  }

  .centered {
    max-width: 800px;
  }

  #menu-button {
    top: 24px;
    right: 24px;
  }

  footer {
    max-width: 474px;
  }

  #copy {
    text-transform: uppercase;
    display: inline-block;
    width: 200px;
    margin-left: auto;
    align-self: flex-end;
    text-align: right;
  }

}

@media only screen and (min-width: 1000px) {

  #about {
    padding-top: 0;
    display: grid;
    grid-auto-flow: column;
    gap: 16px; 
  }

  #about .two-columns-details {
    padding-bottom: 0;
    padding-top: 0;
  }

  #work > div:first-of-type {
    display: none;
  }

  #work {
    display: flex;
    flex-flow: column wrap;
  }

  .show-in-desktop {
    display: block;
  }

  #work {
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
    padding-top: 112px;
    height: calc(100vh - 112px);
  }

  .display-image {
    width: 450px;
    height: 254px;
  }

  .kodak, .macula {
    display: none;
  }

  .kodak.show,
  .macula.show {
    display: block;
  }

}
