/* Fabricio Ceppi portfolio main stylesheet */
/* Mobile first */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");

@font-face {
    font-family: 'NeueHaasGrotesk';
    src: url('fonts/NHaasGroteskTXPro-55Rg.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasGrotesk';
    src: url('fonts/NHaasGroteskTXPro-65Md.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NeueHaasGrotesk', Helvetica, sans-serif;
    font-weight: 600;
    color: #f1f1f1;
    text-rendering: geometricPrecision;
  }

  body {
    overflow: hidden;
  }

.full-box {
    height: 100vh;
    width: 100vw;
    padding: 16px;
  }

/* font initial setup */

.small {
  font-size: 12px;
  line-height: 14px;
}

.medium {
  font-size: 16px;
  line-height: 20px;
}

.big {
  font-size: 32px;
  line-height: 32px;
}

.giant {
  font-size: 40px;
  line-height: 40px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
}

p.medium {
  padding-bottom: 24px;
}

/* footer initial setup */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
    width: 100%;
}

footer ul:first-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* main content static block */

#main-components {
  background-color: rgb(6, 6, 6);

}

/* menu button and dynamic background*/

#menu-button {
    position: absolute;
    right: 16px;
    top: 16px;
    background-color: #f1f1f1;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.4s, transform 0.5s;
    transform-origin: center;
    z-index: 2;
}

#to-main {
  display: inline-block;
  cursor: pointer;
}

/* dynamic content main setup */

.dynamic {
  display: none;
  transition: opacity 0.5s;
}

.dynamic.active {
  display: block;
}

/* different dynamic blocks layout */

.centered {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 16px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

section {
  padding-top: 80px;
  overflow: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.section::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.section {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

section h1 {
  padding-bottom: 32px;
}

.menu-items li {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  cursor: pointer;
}

.menu-items span {
  display: inline-block;
}

.menu-items span:nth-of-type(odd) {
  padding-right: 16px;
}

.menu-items span:nth-of-type(even) {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: #f1f1f1;
    transition: transform 0.3s;
}

@media (hover:hover) {
  .menu-items span:nth-of-type(even):hover {
    -webkit-text-fill-color: #f1f1f1;
    -webkit-text-stroke-color: transparent;
    transform: translateX(16px);
  }
}

/* building some animations */

.appear-to-left {
  opacity: 0;
  animation-name: appear-to-left;
  animation-duration: 0.4s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.appear-to-left:nth-child(2) {
  animation-delay: 0.6s;
}

.appear-to-left:nth-child(3) {
  animation-delay: 0.8s;
}

.appear-to-left:nth-child(4) {
  animation-delay: 1s;
}

@keyframes appear-to-left {
  0% {transform: translateX(100px);}
  100% {transform: translateX(0);
        opacity: 1;}
}

.just-appear {
  opacity: 0;
  animation-name: just-appear;
  animation-duration: 0.2s;
  animation-delay: 0.7;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes just-appear {
  100% {opacity: 1;}
}








